body {
    background-color: rgb(44, 44, 44);
}

.navbar {
    display: flex;
    justify-content: center;
    height: 15%;
    width: 100%;
    background-color: rgb(58, 58, 58);
    padding: 20px;
}

.navbar > a {
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    margin-inline: 7%;
    padding: 10px;
    font-weight: bolder;
    text-decoration: none;
}

.navbar > a:hover {
    transform: scale(1.20);
    box-shadow: 2px 2px 4px white;
    border-radius: 10px;
    border-color: white;
    border: solid 1px;
}

.imgF1 {
    width: 130px;
    height: 70%;
}

.season {
    background-color: black;
    font-family: sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 40px;
    margin: 2%;
    padding: 20px;
}

.box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 200px;
}

.boxDriver {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 12px;
    color: #fff;
    border-radius: 10px;
    width: 28%;
    margin: 2%;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 30px;
    text-shadow: 2px 2px 4px black;
}

.boxDriver:hover {
    box-shadow: 2px 2px 4px white;
    border-color: white;
    border: solid 1px;
}

.boxDriver > a:hover {
    transform: scale(1.20);
}

.boxContent {
    flex: 1;
    text-align: left
}

.boxDriver > img {
    flex: 0 0 160px;
    width: 160px;
    height: auto;
    object-fit: cover;
    border-radius: 8px
}

.boxCar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 12px;
    color: #fff;
    border-radius: 10px;
    width: 35%;
    height: 300px;
    margin: 2%;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 30px;
    text-shadow: 2px 2px 4px black;
}

.boxCar > img {
    width: 250px; 
    height: auto; 
    border-radius: 8px;
    object-fit: contain; 
}

.boxCar:hover {
    box-shadow: 2px 2px 4px white;
    border-color: white;
    border: solid 1px;
}

.rosso {
    background-color: red;
    background: linear-gradient(to right, red, rgb(82, 0, 0));
}

.azzurro {
    background-color: rgb(0, 255, 221);
    background: linear-gradient(to right, rgb(0, 255, 221), rgb(0, 97, 92));
}

.bianco {
    background-color: white;
    background: linear-gradient(to right, white, rgb(0, 39, 167));
}

.rosa {
    background-color: rgb(199, 1, 189);
    background: linear-gradient(to right, rgb(199, 1, 189), rgb(0, 3, 187));
}

.blu {
    background-color: rgb(0, 16, 247);
    background: linear-gradient(to right, rgb(0, 16, 247), rgb(0, 4, 65));
}

.arancione {
    background-color: rgb(255, 153, 0);
    background: linear-gradient(to right, rgb(255, 153, 0), rgb(73, 44, 0))
}

.verde {
    background-color: rgb(0, 82, 0);
    background: linear-gradient(to right, rgb(0, 82, 0), rgb(0, 22, 0))
}

.bluazzurro {
    background-color: rgb(0, 89, 255);
    background: linear-gradient(to right, rgb(0, 89, 255),rgb(0, 5, 80));
}

.grigio {
    background-color: rgb(117, 117, 117);
    background: linear-gradient(to right, rgb(117, 117, 117),rgb(43, 0, 0));
}

.biancorosso {
    background-color: white;
    background: linear-gradient(to right, white, rgb(153, 0, 0));
}

.nero {
    background-color: white;
    background: linear-gradient(to right, white, black);
}
.Ferrari {
    background-color: red;
    background: linear-gradient(to right, red, rgb(82, 0, 0));
}

.Mercedes {
    background-color: rgb(0, 255, 221);
    background: linear-gradient(to right, rgb(0, 255, 221), rgb(0, 97, 92));
}

.RacingBulls {
    background-color: white;
    background: linear-gradient(to right, white, rgb(0, 39, 167));
}

.Alpine {
    background-color: rgb(199, 1, 189);
    background: linear-gradient(to right, rgb(199, 1, 189), rgb(0, 3, 187));
}

.RedBull {
    background-color: rgb(0, 16, 247);
    background: linear-gradient(to right, rgb(0, 16, 247), rgb(0, 4, 65));
}

.McLaren {
    background-color: rgb(255, 153, 0);
    background: linear-gradient(to right, rgb(255, 153, 0), rgb(73, 44, 0))
}

.boxClassifica {
    border-radius: 50px;
    border-collapse: collapse;
    width: 87%;
    background-color: black;
    padding: 5px;
}

.boxClassifica td {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    padding: 30px;
    height: auto;
}

.boxClassifica tr {
    border: solid 1px rgb(44, 44, 44);
    padding: 3px;
}

.site-footer {
    background: #222;
    color: #fff;
    padding: 20px 0;
}


.addPilota {
    margin: 20px;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    border: solid 1px white;
    border-radius: 10px;
    background-color: rgb(58, 58, 58);
    width: 370px;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
}

.addPilota:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 4px white;
    border-color: white;
    border: solid 1px;
}

.boxRisultato {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 12px;
    color: #fff;
    border-radius: 10px;
    width: 35%;
    height: auto;
    margin: 2%;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 30px;
    text-shadow: 2px 2px 4px black;
}

.boxRisultato:hover {
    box-shadow: 2px 2px 4px white;
    border-color: white;
    border: solid 1px;
}

.boxRisultatoGara {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 12px;
    color: #fff;
    border-radius: 10px;
    width: 35%;
    height: 450px;
    margin: 2%;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 30px;
    text-shadow: 2px 2px 4px black;
}

.boxRisultatoGara:hover {
    box-shadow: 2px 2px 4px white;
    border-color: white;
    border: solid 1px;
}

.boxGara {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    flex: 1 1 200px;
}

.boxGara > a:hover {
    transform: scale(1.20);
    box-shadow: 2px 2px 4px white;
    border-color: white;
    border: solid 1px;
        
}

.boxGara > a {
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    margin: 2%;
    padding: 10px;
    font-weight: bolder;
    text-decoration: none;
}