body {
    background-color: rgb(25, 25, 25);
    padding-top: 120px;
    margin: 0;
}

.navbar {
    background-image: url('/css/Assets/background.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    height: 12%;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.navbar > a {
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    margin-inline: 4%;
    padding: 10px;
    font-weight: bolder;
    border: solid 1px transparent;
    text-decoration: none;
    background-image: linear-gradient(red, red);
    background-size: 0% 5px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 0.3s ease;
}

.navbar > select {
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    margin-inline: 4%;
    padding: 10px;
    font-weight: bolder;
    border: solid 1px transparent;
    text-decoration: none;
    background-color: transparent;
    background-image: linear-gradient(red, red);
    background-size: 0% 5px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 0.3s ease;
}

.navbar > select > option{
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    margin-inline: 4%;
    padding: 10px;
    font-weight: bolder;
    background-color: rgb(58, 58, 58);
}

.navbar > a:hover {
    background-size: 100% 5px;
}

.navbar > select:hover {
    background-size: 100% 5px;
}

.imgF1 {
    width: 130px;
    height: 70%;
}

.season {
    background-color: black;
    font-family: sans-serif;
    color: white;
    display: block;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 2%;
    margin-top: 2%;
    width: 100%;
    padding: 25px;
}

.box {
    margin-left:10%;
    margin-right:10%;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 200px;
}

.torna {
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    margin: 2%;
    padding: 10px;
    font-weight: bolder;
    border: solid 1px transparent;
    text-decoration: none;
    border: solid 1px transparent;
    background-image: linear-gradient(red, red);
    background-size: 0% 5px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 0.6s ease;
}

.torna:hover {
    background-size: 100% 5px;
}

.boxDriver {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 12px;
    color: #fff;
    border-radius: 10px;
    width: 28%;
    height: 400px;
    margin: 2%;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 30px;
    text-shadow: 2px 2px 4px black;
    text-decoration: none;
    border: solid 1px transparent;
    transition: transform 0.6s ease;
}

.boxDriver:hover {
    box-shadow: 2px 2px 4px white;
    border-color: white;
    border: solid 1px;
    transform: scale(1.05);
}

.boxContent {
    flex: 1;
    text-align: left;
}
.boxContent > p {
    color: white;
    text-shadow: 2px 2px 4px black;
    font-size: 30px;
    margin: 20px;
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
}


.boxDriver > img {
    flex: 0 0 160px;
    width: 160px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.box2 {
    background-color: black;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 3%;
    padding-top: 3%;
}

.box2 > img {
    width: 800px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.boxNotizia {
    background-image: url('/css/Assets/background2.png');
    background-position: center;
    text-shadow: 2px 2px 4px black;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 20px;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    background-color: rgb(58, 58, 58);
    border-radius: 5px;
    text-decoration: none;
    border: solid 1px transparent;
    transition: transform 0.6s ease;
}

.boxNotizia > img {
    width: 300px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.boxNotizia:hover {
    box-shadow: 2px 2px 4px red;
    border: solid 1px red;
    transform: scale(1.05);
}


.notizia {
    padding: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Sans Serif Collection';
    font-size: 25px;
    transition: transform 0.3s ease;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.notizia > a {
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    margin: 2%;
    padding: 10px;
    font-weight: bolder;
    transition: transform 0.3s ease;
    border: solid 1px transparent;
    text-decoration: none;
}

.notizia > a:hover {
    transform: scale(1.20);
    box-shadow: 2px 2px 4px white;
    border-radius: 10px;
    border-color: white;
    border: solid 1px;
}

.boxContent > button {
    margin-top: 20px;
    color: white;
    background-color: rgb(58, 58, 58);
    font-family: 'Sans Serif Collection', sans-serif;
    font-size: 20px;
    padding: 10px;
    border: solid 1px white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 130px;
    height: auto;
}

.boxCar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 12px;
    color: #fff;
    border-radius: 10px;
    width: 37%;
    height: 350px;
    margin: 2%;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 30px;
    text-shadow: 2px 2px 4px black;
    border: solid 1px transparent;
    transition: transform 0.6s ease;
}

.boxCar > img {
    width: 250px;
    height: auto;
    border-radius: 8px;
    object-fit: contain;
}

.boxCar:hover {
    box-shadow: 2px 2px 4px white;
    border-color: white;
    border: solid 1px;
    transform: scale(1.10);
}
/*Piloti*/

.rosso {
    background-color: red;
    background: linear-gradient(to right, red, rgb(82, 0, 0));
}

.azzurro {
    background-color: rgb(0, 255, 221);
    background: linear-gradient(to right, rgb(0, 255, 221), rgb(0, 97, 92));
}

.bianco {
    background-color: white;
    background: linear-gradient(to right, white, rgb(0, 39, 167));
}

.rosa {
    background-color: rgb(199, 1, 189);
    background: linear-gradient(to right, rgb(199, 1, 189), rgb(0, 3, 187));
}

.blu {
    background-color: rgb(0, 16, 247);
    background: linear-gradient(to right, rgb(0, 16, 247), rgb(0, 4, 65));
}

.arancione {
    background-color: rgb(255, 153, 0);
    background: linear-gradient(to right, rgb(255, 153, 0), rgb(73, 44, 0))
}

.verde {
    background-color: rgb(0, 82, 0);
    background: linear-gradient(to right, rgb(0, 82, 0), rgb(0, 22, 0))
}

.bluazzurro {
    background-color: rgb(0, 89, 255);
    background: linear-gradient(to right, rgb(0, 89, 255),rgb(0, 5, 80));
}

.grigio {
    background-color: rgb(117, 117, 117);
    background: linear-gradient(to right, rgb(117, 117, 117),rgb(43, 0, 0));
}

.biancorosso {
    background-color: white;
    background: linear-gradient(to right, white, rgb(153, 0, 0));
}

.nero {
    background-color: white;
    background: linear-gradient(to right, white, black);
}
/*Scuderie*/

.Ferrari {
    background-color: red;
    background: linear-gradient(to right, red, rgb(82, 0, 0));
}

.Mercedes {
    background-color: rgb(0, 255, 221);
    background: linear-gradient(to right, rgb(0, 255, 221), rgb(0, 97, 92));
}

.RacingBulls {
    background-color: white;
    background: linear-gradient(to right, white, rgb(0, 39, 167));
}

.Alpine {
    background-color: rgb(199, 1, 189);
    background: linear-gradient(to right, rgb(199, 1, 189), rgb(0, 3, 187));
}

.RedBull {
    background-color: rgb(0, 16, 247);
    background: linear-gradient(to right, rgb(0, 16, 247), rgb(0, 4, 65));
}

.McLaren {
    background-color: rgb(255, 153, 0);
    background: linear-gradient(to right, rgb(255, 153, 0), rgb(73, 44, 0))
}

.Audi {
    background-color: rgb(117, 117, 117);
    background: linear-gradient(to right, rgb(117, 117, 117),rgb(43, 0, 0));
}

.Williams {
    background-color: rgb(0, 89, 255);
    background: linear-gradient(to right, rgb(0, 89, 255),rgb(0, 5, 80));
}

.Cadillac {
    background-color: white;
    background: linear-gradient(to right, white, black);
}

.Haas {
    background-color: white;
    background: linear-gradient(to right, white, rgb(153, 0, 0));
}

.AstonMartin {
    background-color: rgb(0, 82, 0);
    background: linear-gradient(to right, rgb(0, 82, 0), rgb(0, 22, 0))
}


.boxClassifica {
    border-radius: 50px;
    width: 87%;
    background-color: black;
    padding: 10px;
    text-align: center;
    margin: 2%;
}

.boxClassifica td {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    padding: 30px;
    height: auto;
}

.boxClassifica tr {
    border: solid 1px rgb(25,25,25);
    padding: 3px;
}

.site-footer {
    background: rgb(58, 58, 58);
    color: #fff;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: solid 1px transparent;
    gap: 12px;
}

.site-footer > a {
    margin: 20px;
    width: 9%;
    height: auto;
}

.site-footer img {
    width: 100%;
    transition: transform 0.6s ease;
    height: auto;
}

.site-footer a:hover img {
    filter: none;
    transform: scale(1.20);
    opacity: 1;
}


.addPilota {
    margin: 20px;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    border: solid 1px white;
    border-radius: 10px;
    background-color: rgb(58, 58, 58);
    width: 28%;
    height: 400px;
    display: flex;
    justify-content: center;
    padding: 20px;
    border: solid 1px transparent;
    transition: transform 0.6s ease;
    align-items: center;
}

.addPilota:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 4px white;
    border-color: white;
    border: solid 1px;
}

.boxRisultato {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 12px;
    color: #fff;
    border-radius: 10px;
    width: 35%;
    height: auto;
    margin: 2%;
    font-family: sans-serif;
    font-weight: bolder;
    border: solid 1px transparent;
    font-size: 30px;
    text-shadow: 2px 2px 4px black;
    transition: transform 0.6s ease;
}

.boxRisultato:hover {
    box-shadow: 2px 2px 4px white;
    border-color: white;
    border: solid 1px;
    text-decoration: none;
}

.boxRisultatoGara {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 12px;
    color: #fff;
    border-radius: 10px;
    width: 35%;
    height: 450px;
    margin: 2%;
    font-family: sans-serif;
    font-weight: bolder;
    border: solid 1px transparent;
    font-size: 30px;
    transition: transform 0.4s ease;
    text-shadow: 2px 2px 4px black;
}

.boxRisultatoGara:hover {
    box-shadow: 2px 2px 4px white;
    border-color: white;
    border: solid 1px;
    text-decoration: none;
    transform: scale(1.05);
}

.boxGara {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    transition: transform 0.6s ease;
    border: solid 1px transparent;
    flex: 1 1 200px;
}



#details-modifica[open] > summary {
    display: none;
}

.cambiaTema {
    background-color: rgb(58, 58, 58);
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    padding: 10px;
    font-weight: bolder;
    text-decoration: none;
    border: none;
}